@charset "ISO-8859-1";

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
}
.price {
  color: grey;
  font-size: 22px;
}

.card input {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.tab1 {
	width: 100%;
	border-spacing: 30px;
}

#b {
	text-align: center;
	background-color: seashell;
	 font-style: italic;
	  color: purple; 
	  font-size: 50px;
	   text-shadow: 2px 2px yellow,3px 3px green, 4px 4px red; 
	   border: 2px solid black;
	   border-radius: 25px;
}
